<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycg.ksh.service.persistence.moutai.MaotaiTakerMapper">
  <resultMap id="BaseResultMap" type="com.ycg.ksh.entity.persistent.moutai.Taker">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="BIGINT" property="id" />
    <result column="CONVEY_ID" jdbcType="BIGINT" property="conveyId" />
    <result column="TAKE_NAME" jdbcType="VARCHAR" property="takeName" />
    <result column="TAKE_PHONE" jdbcType="VARCHAR" property="takePhone" />
    <result column="TAKE_IDCARE" jdbcType="VARCHAR" property="takeIdcare" />
    <result column="FETTLE" jdbcType="INTEGER" property="fettle" />
    <result column="CREATE_USER_ID" jdbcType="INTEGER" property="createUserId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <select id="queryTakerList" resultMap="BaseResultMap">
      select * from  MOUTAI_TAKER
  </select>

  <select id="selectTakerByConveyId" resultMap="BaseResultMap">
       select * from  MOUTAI_TAKER where CONVEY_ID = #{conveyId}
  </select>

</mapper>