<!DOCTYPE html>
<html>

<head>
	<title>客户管理</title>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="Keywords" content="合同物流管理平台运输管理平台">
	<meta name="Description" content="合同物流管理平台运输管理平台">
	<link rel="stylesheet" href="../../lib/font-awesome-fa/font-awesome.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="../../lib/weui/css/weui.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/weui/css/jquery-weui.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../css/customer/addCustomer.css" />

	<style>
		[v-cloak] {
			display: none !important;
		}
	</style>
</head>

<body ontouchstart class="vue-page" style="background:#F2F2F2;">
	<div id="app">
		<template>
		<div class="headline hide">
			<a href="javascript:history.go(-1)" class="jiantou"><</a>
					<h1>客户管理</h1>
		</div>
		<div class="customerDetail-color">
			<div class="enterprise">
				<span class="fl left">企业名称</span>
				<input type="text" class="fr fizi" placeholder="请输入企业名称" style="font-size: 18px;" v-model="customerName">
			</div>
			<div class="enterprise">
				<span class="fl left">客户类型</span>

					
				<select v-model="customerType"  class="fl none" style="background: transparent; ">
					<option disabled value="">请选择客户类型</option>
					<option value="1">货主</option>
					<option value="3">承运商</option>
					<option value="2">收货客户</option>
				</select>

			</div>
			<div class=" addition" @click="submit">
				<a href="javascript:;">确定</a>
			</div>
		</div>
		</template>
	</div>
	<script type="text/javascript" src="../../lib/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../lib/js/json2.js"></script>
	<script type="text/javascript" src="../../lib/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../lib/weui/js/jquery-weui.min.js"></script>
	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script type="text/javascript" src="../../lib/vue/vue.js"></script>
	<script type="text/javascript" src="../../lib/function/common.js"></script>
	<script type="text/javascript" src="../../lib/function/easy.cookie.js"></script>
	<script type="text/javascript" src="../../lib/function/easy.config.js"></script>
	<script type="text/javascript" src="../../lib/function/easy.ajax.js"></script>
	<script type="text/javascript" src="../../lib/function/weixin.js"></script>
</body>
<script type="text/javascript">
	var vm = new Vue({
		el: '#app',
		data: {
			customerType: 1,
			customerName: ''
		},
		methods: {
			submit:function() {
				var param = {
					customerName:this.customerName,
					customerType:this.customerType,
				}
				EasyAjax.ajax_Post_Json({
					url: 'enterprise/customer/add',
					data: JSON.stringify(param)
				},function(res) {
					if(res.success)	{
						$.toast(res.message, function(){
                            window.location.href="./customerManage.html";
						});
					}else{
						$.toast(res.message);
					}
				});
			}
		}
	})
</script>

</html>