<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="Keywords" content="可视化系统">
		<meta name="Description" content="可视化系统">
		<title>首页</title>
		<link href="lib/font-awesome-fa/font-awesome.min.css" rel="stylesheet" media="screen">

		<link rel="stylesheet" type="text/css" href="lib/weui/css/weui.min.css">
		<link rel="stylesheet" type="text/css" href="lib/weui/css/jquery-weui.min.css">
		<link rel="stylesheet" type="text/css" href="lib/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/home.css" />

	</head>

	<body class="vue-page">
		<!--banner-->
		<div class="banner">
			<img class="banner-img" src="images/banner.png" alt="扫码关注公众号" />
		</div>
		<!--图标导航-->

		<div class="commonBox" id="vue-common-function">
			<template>
				<ul class="iconList clearfix">
					<li class="" v-for="(item,index) in commonlies">
						<a @click="jumpLink(item)" :key="item" :id="'myIcon_'+index" :data-num="item">
							<div class="iconBox">
								<img v-bind:src="'images/index/w_'+ item +'.png'" alt="">
							</div>
							<p class="weui-grid__label" v-if="item=='104'">客户管理</p>
							<p class="weui-grid__label" v-else-if="item=='105'">运单录入</p>
							<p class="weui-grid__label" v-else-if="item=='106'">货主发货</p>
							<p class="weui-grid__label" v-else-if="item=='107'">物流商发货</p>

							<p class="weui-grid__label" v-else-if="item=='201'">扫码绑单</p>
							<p class="weui-grid__label" v-else-if="item=='203'">装车卸货</p>
							<p class="weui-grid__label" v-else-if="item=='204' && identity==2">发货回单</p>
							<p class="weui-grid__label" v-else-if="item=='204' && identity==3">承运回单</p>
							<p class="weui-grid__label" v-else-if="item=='204' && identity==4">收货回单</p>
							<p class="weui-grid__label" v-else-if="item=='205' && identity==2">现场管理</p>

							<p class="weui-grid__label" v-else-if="item=='301'">货主查货</p>
							<p class="weui-grid__label" v-else-if="item=='302'">收货人查货</p>
							<p class="weui-grid__label" v-else-if="item=='303'">扫码定位</p>
							<p class="weui-grid__label" v-else-if="item=='304'">批报位置</p>

							<p class="weui-grid__label" v-else-if="item=='401'">上传回单</p>
							<p class="weui-grid__label" v-else-if="item=='403'">收货人签收</p>
							<p class="weui-grid__label" v-else-if="item=='404'">投诉记录</p>
							<p class="weui-grid__label" v-else-if="item=='405'">客户投诉</p>

							<p class="weui-grid__label" v-else-if="item=='502'">申请二维码</p>
							<p class="weui-grid__label" v-else-if="item=='505' && identity==2">发货管理</p>
							<p class="weui-grid__label" v-else-if="item=='505' && identity==3">承运管理</p>
							<p class="weui-grid__label" v-else-if="item=='505' && identity==4">收货管理</p>
							<p class="weui-grid__label" v-else-if="item=='506'">运输记录</p>
							<p class="weui-grid__label" v-else-if="item=='507'">电子合同</p>

							<p class="weui-grid__label" v-else-if="item=='602'">路径规划</p>
						</a>
					</li>
					<li>
						<a @click="toAll">
							<div class="iconBox">
								<img src="images/index/w_all.png" alt="">
							</div>
							<p class="weui-grid__label">全部功能</p>
						</a>
					</li>
				</ul>
			</template>

			<!--我的任务-->
			<div class="my-task padding">
				<template>
					<h3 class="h3" v-show="orders != null && orders.length > 0">近三天任务</h3>
					<div class="task-list-item" v-for="(item, index) in orders" v-if="orders.length > 0">
						<div class="task-list-item-con">
							<div class="task-list-item-part" @click="toDetail(item.id)">
								<div class="weui-flex">
									<div class="task-con-title">送货单号 :</div>
									<div class="weui-flex__item one-line-hide title-right">{{item.deliveryNo}}</div>
								</div>
								<div class="weui-flex">
									<div class="task-con-title">收货客户 :</div>
									<div class="weui-flex__item one-line-hide">{{item.receive.companyName}}</div>
								</div>
								<div class="weui-flex">
									<div class="task-con-title">收货地址 :</div>
									<div class="weui-flex__item more-line-hide">{{item.receiveAddress}}</div>
								</div>
								<template>
									<span class="upload-task-status green" v-if="item.fettle == 1">运输中</span>
									<span class="upload-task-status green" v-if="item.fettle == 3">已到货</span>
									<span class="upload-task-status green" v-if="item.fettle >= 4">已签收</span>
								</template>
							</div>
						</div>
					</div>
					<p v-else-if="orders.length == 0" style="text-align:center;padding:10px 0;font-size:15px;">暂无数据。。。</p>
				</template>

				<!--<div class="weui-loadmore">
					<i class="weui-loading"></i>
					<span class="weui-loadmore__tips">正在加载</span>
				</div>-->
			</div>
		</div>

		<!-- 底部导航部分 -->
		<div id="navBar"></div>
		<script type="text/javascript" src="lib/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="lib/js/json2.js"></script>
		<script type="text/javascript" src="lib/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="lib/weui/js/jquery-weui.min.js"></script>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
		<script type="text/javascript" src="lib/vue/vue.js"></script>
		<script type="text/javascript" src="lib/vue/moment.min.js"></script>
		<script type="text/javascript" src="lib/vue/common.vue.js"></script>

		<script type="text/javascript" src="lib/function/common.js"></script>
		<script type="text/javascript" src="lib/function/easy.cookie.js"></script>
		<script type="text/javascript" src="lib/function/easy.config.js"></script>
		<script type="text/javascript" src="lib/function/easy.ajax.js"></script>
		<script type="text/javascript" src="lib/function/weixin.js"></script>
		<script type="text/javascript" src="js/home.js"></script>
	</body>

</html>