<!DOCTYPE html>
<html>

	<head>
		<title>到车详情</title>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="Keywords" content="合同物流管理平台运输管理平台">
		<meta name="Description" content="合同物流管理平台运输管理平台">
		<link rel="stylesheet" href="../../lib/font-awesome-fa/font-awesome.min.css" media="screen">
		<link rel="stylesheet" type="text/css" href="../../lib/weui/css/weui.min.css">
		<link rel="stylesheet" type="text/css" href="../../lib/weui/css/jquery-weui.min.css">
		<link rel="stylesheet" type="text/css" href="../../lib/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../../css/sitemanagement/vehicleDetail.css" />

		<style>
			[v-cloak] {
				display: none !important;
			}
		</style>
	</head>

	<body ontouchstart class="vue-page" style="background:#F5F5F5;">
		<div id="vehicleDetailWrapper" v-cloak>
			<template>
				<div class="manageList-wrapper site-wrap">
					<div class="manage-detail">
						<div class="weui-flex">
							<div class="left-title">送货单号</div>
							<div class="weui-flex__item wordwrap">{{deliveryCarDto.deliveryNo}}</div>
						</div>
						<div class="weui-flex">
							<div class="left-title">
								<span class="w3">车牌号</span>
							</div>
							<div class="weui-flex__item wordwrap">{{deliveryCarDto.license}}</div>
						</div>
						<div class="weui-flex">
							<div class="left-title">司机姓名</div>
							<div class="weui-flex__item">{{deliveryCarDto.driverName}}</div>
						</div>
						<div class="weui-flex">
							<div class="left-title">司机电话
							</div>
							<div class="weui-flex__item wordwrap">{{deliveryCarDto.driverContact}}</div>
						</div>
					</div>

					<div class="remarkInfo">
						<div class="remarkInfo-detail">
							<div class="weui-flex">
								<div class="left-title">备注</div>
								<div class="weui-flex__item wordwrap" v-if="arrivalsCarDto.arrivalType == 1">到车车辆与派车信息一致</div>
								<div class="weui-flex__item wordwrap" v-else-if="arrivalsCarDto.arrivalType == 2">到车车辆与派车信息不一致</div>
								<div class="weui-flex__item wordwrap" v-else-if="arrivalsCarDto.arrivalType == 3">无派车信息，手动记录到场车辆信息</div>
							</div>
						</div>
						<div class="dispatchCarInfo" :class="{'hide' : arrivalsCarDto.arrivalType == 1}">
							<div class="spliteLine"></div>
							<div class="manage-detail remark-wrap">
								<div class="weui-flex">
									<div class="left-title">
										<span class="w3">车牌号</span>
									</div>
									<div class="weui-flex__item wordwrap">{{arrivalsCarDto.inLicense}}</div>
								</div>
								<div class="weui-flex">
									<div class="left-title">司机姓名</div>
									<div class="weui-flex__item">{{arrivalsCarDto.inDriverName}}</div>
								</div>
								<div class="weui-flex">
									<div class="left-title">司机电话
									</div>
									<div class="weui-flex__item wordwrap">{{arrivalsCarDto.inDriverContact}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</template>
		</div>
		<script type="text/javascript" src="../../lib/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="../../lib/js/json2.js"></script>
		<script type="text/javascript" src="../../lib/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="../../lib/weui/js/jquery-weui.min.js"></script>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
		<script type="text/javascript" src="../../lib/vue/vue.js"></script>
		<script type="text/javascript" src="../../lib/function/common.js"></script>
		<script type="text/javascript" src="../../lib/function/easy.cookie.js"></script>
		<script type="text/javascript" src="../../lib/function/easy.config.js"></script>
		<script type="text/javascript" src="../../lib/function/easy.ajax.js"></script>
		<script type="text/javascript" src="../../js/sitemanagement/vehicleDetail.js"></script>
	</body>

</html>