.mt0{margin-top: 0;}
.textC{ text-align: center;}
.pad10_0{padding: 10px 0;}
.cellTit{font-size:14px;color:#666;}
.cellTit1{font-size:16px;}
.cellInfo{color:#999;font-size:14px}
.myQrCode{font-size: 28px;color:#888;}

.qrCodeBox{width:230px;padding: 20px; background: #fff; margin: 0 auto;font-size:14px}
.infoBox{font-size:13px; margin-left: 20px;}

