.setsignature{
  width: 100%;
  height: 100%;
}
#canvas{
  width: 100%;
  height: 100%;
  position: relative;
}
#canvas canvas{
  width: 100%;
  height: 100%;
  display: block;
}
#canvas canvas{
  display: block;
}
#clearCanvas{
  width: 20%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  background-color: #ccc;
}
.writename{
  color: #000;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 10px;
  font-size: 14px;
}