<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="Keywords" content="合同物流管理平台运输管理平台">
<meta name="Description" content="合同物流管理平台运输管理平台">
<title>关于合同物流管理平台</title>
<link rel="stylesheet" href="../../lib/font-awesome-fa/font-awesome.min.css"  media="screen">
<link rel="stylesheet" type="text/css" href="../../lib/weui/css/weui.min.css">
<link rel="stylesheet" type="text/css" href="../../lib/weui/css/jquery-weui.min.css">
<link rel="stylesheet" type="text/css" href="../../lib/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="../../lib/css/reset.css" />
<link rel="stylesheet" type="text/css" href="../../css/user/about.css" />

</head>
	<body ontouchstart style="background:#E4E4E4;">
		<div class="about-banner">
			<div class="weui-flex">
				
				<div class="weui-flex__item about-banner-con">
					<h1>专注物流领域  让运输更简单</h1>
					<p>欢迎联系我们：</p>
					<p>电话：13321853613</p>
					<p>网址：trace.mclogi.com.cn</p>
					<p>地址：上海市浦东新区中融恒瑞国际大厦</p>
				</div>
			</div>
		</div>	
		<div class="about-con">
			<h2>合同物流管理平台能做什么</h2>
			<div class="about-con-con">
				<div class="weui-line">
					<span class="block p-40 color-azureblue">运输轨迹</span>
				</div>
				<div class="weui-line">
					<span class="block p-40 color-lightgray">电子回单</span>
					<span class="block p-20 color-light-orange">一键到货</span>
				</div>
				<div class="weui-line">
					<span class="block p-9 color-skyblue">查看异常</span>
					<span class="block p-30 color-lightpink">查看报表</span>
				</div>
				<div class="weui-line">
					<span class="block p-13 color-lightyellow">web和微信协同管理</span>
					<span class="block p-20 color-lightgreen">记账账单</span>
				</div>
				<div class="weui-line">
					<span class="block p-32 color-lightgreen1">分享功能</span>
				</div>
			</div>
		</div>
		<div class="about-use">
			<div class="about-banner-img">
				<img src="../../images/about-erweima.png" alt="" />
			</div>
			<p>长按识别二维码关注我们吧</p>
		</div>
		<!--底部导航-->
		<div id="navBarIn"></div>
    	<script type="text/javascript" src="../../lib/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="../../lib/js/json2.js"></script>
		<script type="text/javascript" src="../../lib/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="../../lib/weui/js/jquery-weui.min.js"></script>
		<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
		<script type="text/javascript" src="../../lib/function/common.js"></script>
		<script type="text/javascript" src="../../lib/function/easy.cookie.js"></script>
		<script type="text/javascript" src="../../lib/function/easy.config.js"></script>
		<script type="text/javascript" src="../../lib/function/easy.ajax.js"></script>
		<script type="text/javascript" src="../../lib/function/weixin.js"></script>
	</body>
</html>

