<!DOCTYPE html>
<html>
	<html>

	<head>
		<script src="../../../static/lib/function/common.js"></script>
		<script src="../../../static/js/public/commonMeta.js"></script>
		<title>编辑合同</title>
		<script src="../../../static/js/public/commonCss.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../static/css/contractValuation/edit.css" />
	</head>
	<body>
		<div id="content">
			<template>
				
				<!--基本信息-->
				<div class="part-wrapper">
					<h4 class="title">基本信息</h4>
					<div class="line">
						<div class="line-info">
							<span class="text">合同编号</span>
							<el-input placeholder="请输入内容" v-model='baseInformation.contractNo' :disabled="true"></el-input>
						</div>
						<div class="line-info">
							<span class="text">合同开始日期</span>
							<el-date-picker v-model="baseInformation.contractStartDate" type="date" placeholder="选择日期" value-format="yyyy-MM-dd">
							</el-date-picker>
						</div>
						<div class="line-info">
							<span class="text">合同结束日期</span>
							<el-date-picker v-model="baseInformation.contractEndDate" type="date" placeholder="选择日期" value-format="yyyy-MM-dd">
							</el-date-picker>
						</div>
					</div>
					<div class="line">
						<div class="line-info">
							<span class="text">客户名称</span>
							<el-select v-model="baseInformation.customerName" filterable placeholder="请选择客户" @change='customerDetail'>
								<el-option v-for="item in customerList" :key="item.key" :label="item.name" :value="item.name">
								</el-option>
							</el-select>
						</div>
						
						<div class="line-info">
							<span class="text">行业类别</span>
							<el-select v-model="baseInformation.industryType" filterable placeholder="请选择行业" filterable>
								<el-option   label="电器、厨具类 " value="1"></el-option>
								<el-option   label="电子数码类 " value="2"></el-option>
								<el-option   label="服装服饰类 " value="3"></el-option>
								<el-option   label="纺织皮具类 " value="4"></el-option>
								<el-option   label="电商类 " value="5"></el-option>
								<el-option   label="五金化工类 " value="6"></el-option>
								<el-option   label="医药器械类" value="7"></el-option>
								<el-option   label="日用品类 " value="8"></el-option>
								<el-option   label="乳制品、母婴类 " value="9"></el-option>
								<el-option   label=" 食品调料类 " value="10"></el-option>
								<el-option   label="饮料类 " value="11"></el-option>
								<el-option   label="白酒类 " value="12"></el-option>
								<el-option   label="其他酒类 " value="13"></el-option>
								<el-option   label="鲜活冷链类 " value="14"></el-option>
								<el-option   label="办公印刷品类 " value="15"></el-option>
								<el-option   label="橡胶机械类 " value="16"></el-option>
								<el-option   label="建材装饰类 " value="17"></el-option>
								<el-option   label="汽车配件类 " value="18"></el-option>
								<el-option   label="通信通讯类 " value="19"></el-option>
								<el-option   label="其它类 " value="20"></el-option>
							</el-select>
						</div>
						<div class="line-info hide">
							<span class="text">客户编码</span>
							<el-input placeholder="请输入内容" v-model='baseInformation.customerCode'></el-input>
						</div>
					</div>
					<div class="line">
						<div class="line-info">
							<span class="text">联系人姓名</span>
							<el-input placeholder="请输入内容" v-model='customer.contacts'></el-input>
						</div>
						<div class="line-info">
							<span class="text">座机号码</span>
							<el-input placeholder="请输入内容" v-model='customer.landlineNumber'></el-input>
						</div>
						<div class="line-info">
							<span class="text">手机号码</span>
							<el-input placeholder="请输入内容" v-model='customer.phone'></el-input>
						</div>
					</div>
					<div class="line">
						<div class="line-info">
							<span class="text">客户地址</span>
							<el-input placeholder="省" v-model='customer.province'></el-input>
						</div>
						<div class="line-info">
							<el-input placeholder="市" v-model='customer.city'></el-input>
						</div>
						<div class="line-info">
							<el-input placeholder="区" v-model='customer.district'></el-input>
						</div>
						<div class="line-info">
							<el-input placeholder="详细地址" v-model='customer.fullAddress'></el-input>
						</div>
					</div>
				</div>
				<!--基本信息-->
				<div class="part-wrapper">
					<h4 class="title">运费设置</h4>
					<div class="transport">
						<el-checkbox v-model="checked">零担运输</el-checkbox>
						<div class="computings" v-for='(item,index) in tableDataList' :key='index'>
							<h5 class="computing">计算方法{{index+1}}:</h5>
							<p>
								<span class="goods">货物性质</span>
								<el-select v-model="item.goodsNature" placeholder="请选择">
									<el-option label="不限" value="0"></el-option>
									<el-option label="重货" value="1"></el-option>
									<el-option label="轻货" value="2"></el-option>
								</el-select>
							</p>
							<div class="clearfix">
								<div class="valuationMethod fl">
									<span>计价方式:</span>
									<el-radio v-model="item.goodsCalculMode" label="1" @change='toggle(index)'>按重量核算运费</el-radio>
									<el-radio v-model="item.goodsCalculMode" label="2" @change='toggle(index)'>按体积核算运费</el-radio>
									<el-radio v-model="item.goodsCalculMode" label="3" @change='toggle(index)'>按数量核算运费</el-radio>
								</div>
								<div class="menuBar fl">
									<div class="fl weight">
										<span>计价单位:</span>
										<el-select v-model="item.goodsUnit" placeholder="请选择" v-if='item.goodsCalculMode==2'>
											<el-option label="方" value="2" checked></el-option>
										</el-select>
										<el-select v-model="item.goodsUnit" placeholder="请选择" v-if='item.goodsCalculMode==3'>
											<el-option label="件" value="3" checked></el-option>
										</el-select>
										<el-select v-model="item.goodsUnit" placeholder="请选择" v-if='item.goodsCalculMode==1'>
											<el-option label="吨" value="0"></el-option>
											<el-option label="千克/公斤" value="1"></el-option>
										</el-select>
									</div>
									<el-button type="text" @click='downLoad'>下载模板</el-button>
									<div class="upload">
										<el-button type="text" @click=''>导入</el-button>
										<input type="file" id="file" @change="fileUpload(index,$event)" />
									</div>
									<el-button type="text" @click="addColumn(index)">添加区间</el-button>
									<el-button type="text" @click='addCity(index)'>添加城市</el-button>
									<el-button type="text" @click="deleteColumn(index)">删除区间</el-button>
								</div>
							</div>
							<div class="tableList">
								<el-table :data="item.freightList.slice((page[index].currentPage -1 ) * page[index].pageSize, page[index].currentPage * page[index].pageSize)" style="width: 100%">
									<el-table-column label="终点城市" width="500" align='center'>
										<template slot-scope="scope">
											<div class="address">
												<el-input v-model="scope.row.area.province" :disabled="true">
												</el-input>
												<el-input v-model="scope.row.area.city" :disabled="true">
												</el-input>
												<el-input v-model="scope.row.area.county" :disabled="true">
												</el-input>
											</div>
										</template>
									</el-table-column>
									<el-table-column prop="date" label="城市级别" width="200" align='center'>
										<template slot-scope="scope">
											<el-select v-model="scope.row.cityLevel" placeholder="请选择">
												<el-option label="不限" value="0"></el-option>
												<el-option label="一级/省会" value="1"></el-option>
												<el-option label="二级/地级市" value="2"></el-option>
												<el-option label="三级/县,区级" value="3"></el-option>
											</el-select>
										</template>
									</el-table-column>
									<el-table-column :label="weightIntervalList[index].weightInterval[i]" width="200" v-for='(s,i) in weightIntervalList[index].weightInterval' :key='i' align='center'>
										<el-table-column width="200" align='center'>
											<template slot="header" slot-scope="scope">
												<el-input v-model="item.intervals[i].startNum" size="mini" placeholder="0" />
											</template>
											<el-table-column width="200" align='center'>
												<template slot="header" slot-scope="scope">
													<el-input v-model="item.intervals[i].endNum" size="mini" placeholder="无上限" />
												</template>
												<template slot-scope="scope">
													<el-input placeholder="0" v-model='scope.row.num[i]' type='number' value='number' @change='conversionType(index,scope.$index,i)'></el-input>
													<span v-show="item.goodsUnit==0">元/吨</span>
													<span v-show="item.goodsUnit==1">元/千克(公斤)</span>
													<span v-show="item.goodsUnit==2">元/方</span>
													<span v-show="item.goodsUnit==3">元/件</span>
												</template>
											</el-table-column>
										</el-table-column>
									</el-table-column>
									<el-table-column label="操作" width="150" align="center">
										<template slot-scope="scope">
											<el-button type="text" size="small" @click='deleteRow(scope.$index,item.freightList)'>删除行</el-button>
										</template>
									</el-table-column>
								</el-table>
								<!--省市区弹窗-->
								<el-dialog title="省市区选择" :visible.sync="dialogVisible" width="40%" :close-on-click-modal='false'>
									<div class="addressSelect">
										<el-select v-model='province' placeholder="不限(省)" @change='selectChange(1)'>
											<el-option label="不限(省)" value="不限(省)"></el-option>
											<el-option v-for="(p,index) in provinces" :key="p.id" :label="p.name" :value="index">
											</el-option>
										</el-select>
										<el-select v-model='city' placeholder="不限(市)" @change='selectChange(2)'>
											<el-option label="不限(市)" value="不限(市)"></el-option>
											<el-option v-for="(c,index) in citys" :key="c.id" :label="c.name" :value="index">
											</el-option>
										</el-select>
										<el-select v-model='county' placeholder="不限(区/县)" @change='selectChange(3)'>
											<el-option label="不限(区/县)" value="不限(区/县)"></el-option>
											<el-option v-for="(d,index) in countys" :key="d.id" :label="d.name" :value="index">
											</el-option>
										</el-select>
									</div>
									<span slot="footer" class="dialog-footer">
				    <el-button @click="dialogVisible = false">取 消</el-button>
				    <el-button type="primary" @click="selectAddress(index)">确 定</el-button>
  </span>
								</el-dialog>
								<!-- 分页  -->
								<div class="pagination">
									<el-pagination @size-change="handleSizeChange(val,index)" @current-change="function(val){ handleCurrentChange(val, index);}" :current-page="page[index].currentPage" :page-sizes="[10, 20, 30, 40]" :page-size="10" layout="total, sizes, prev, pager, next, jumper" :total="page[index].total">
									</el-pagination>
								</div>
							</div>
							<div class="line effectiveDate">
								<div class="line-info">
									<span class="text">开始使用日期</span>
									<el-date-picker v-model="item.useStartDate" type="date" placeholder="选择日期" value-format="yyyy-MM-dd">
									</el-date-picker>
								</div>
								<div class="line-info">
									<span class="text">结束使用日期</span>
									<el-date-picker v-model="item.useEndDate" type="date" placeholder="选择日期" value-format="yyyy-MM-dd">
									</el-date-picker>
								</div>
							</div>
							<el-button type="text" @click='addMethods()'>继续添加计算方法</el-button>
						</div>
					</div>
				</div>
				<div class="save">
					<el-button type="primary" @click='saveContract'>保存</el-button>
				</div>

			</template>
		</div>

	</body>

	<script src="../../../static/js/public/commonJs.js"></script>
	<script src="../../../static/lib/js/xlsx.core.min.js"></script>
	<script src="../../../static/js/contractValuation/edit.js"></script>

	</html>