

.fl {
	float: left;
}

.fr {
	float: right;
}

.enterprise {
	border-bottom: 1px solid #ccc;
	height: 70px;
	line-height: 70px;
	display: flex;

}
.customerDetail-color {
	background-color: #fff;
}
.addition {
	position: fixed;
	background-color: #169BD5;
	width: 100%;
	bottom: 0;
	text-align: center;
	height: 40px;
	line-height: 40px;
	color: #FFFFFF;
}
.addition> a {
	color: #FFF;
}
.left{
margin-left: 10px;
flex: 2;

}
.none{
	border: none;
	font-size: 16px;
	margin-right: 10px;

}
.right{
	text-align: right;

	flex: 4;
}
.redact,#confirmBtn  {
	padding: 5px;
}
.redact a{
	border-right: 1px solid #ccc;
	color: #169BD5;
}

#confirmBtn a {
	color: #169BD5;

}
.register {
	background-color: #169BD5;
	padding: 5px;
}
.register a {
	color: #fff;
	display: block;
}
.weui-dialog weui-dialog--visible {
             height: 200px;
}
.weui-dialog__bd {
	color: #000;
	height:70px ;
	text-align: left;
}


