.tip {
	color: #ccc;
	font-size: 14px;
}
.weui-cell__bd {
  margin-left: 30px;	
}
.weui-cell {
	padding: 0px;
	border-bottom: 1px solid #eee;
	}
.weui-cells {
	margin-top: 5px;
}	
.weui-cell:before {
	left: 0 ;
	border: none;
}
.weui-cell__hd {
  	padding: 10px;
}
.weui-cell__bd {
	padding: 10px;
	
}
.weui-cells:before, .weui-cells:after{
 border: none;	
}

.weui-btn_primary {
	border-radius: 10px;
}
.save {
  margin-top: 30px;	
}
#modle {
	height: 20px;
	line-height: 20px;
    color: #999;
	padding: 0;
}
.col {
	color: #999;
}
