<!DOCTYPE html>
<html>
  <head>
  <title>异常上报</title>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="Keywords" content="合同物流管理平台运输管理平台">
	<meta name="Description" content="合同物流管理平台运输管理平台">
	<link rel="stylesheet" href="../../lib/font-awesome-fa/font-awesome.min.css"  media="screen">
	<link rel="stylesheet" type="text/css" href="../../lib/weui/css/weui.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/weui/css/jquery-weui.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../css/partener/abnormal.css" />
  
</head>

  <body ontouchstart style="background:#f8f8f8;">
    <div class="weui-cells weui-cells_form upload">
    	<div class="weui-cell txtarea">
	        <div class="weui-cell__bd">
	          <textarea class="weui-textarea" id="areaTxt" placeholder="请输入异常情况，500字以内"></textarea>
	        </div>
	    </div>
    	
	    <div class="weui-cell">
	        <div class="weui-cell__bd">
	          <div class="weui-uploader">
	            <div class="weui-uploader__hd">
	              <p class="weui-uploader__title">上传异常照片(可不选)</p>
	            </div>
	            <div class="weui-uploader__bd">
	              <ul class="weui-uploader__files clearfix" id="uploaderFiles">
									<!--<li class="weui-uploader__file"">
										<img src="../../images/timg2.png" alt="" />
										<span class="close-img"></span>
									</li>-->
								</ul>
								<div class="weui-uploader__input-box" id="uploaderRecipt">
	                	
	              </div>
	            </div>
	          </div>
	        </div>
	  	</div>
    </div>
    <div class="demos-content-padded btn_mbottom">
			<a href="javascript:;" id="abTooltips" class="weui-btn weui-btn_primary">确定上传</a>
		</div>
		<!--img放大-->
		<div class="weui-gallery" id="gallery">
		  <img src="" id="galleryImg" />
		</div>
		
	<!--底部导航-->
	<div id="navBarIn"></div>
<script type="text/javascript" src="../../lib/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../lib/js/json2.js"></script>
<script type="text/javascript" src="../../lib/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../lib/weui/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../lib/js/jsrender-min.js"></script>
<script type="text/javascript" src="../../lib/function/common.js"></script>
<script type="text/javascript" src="../../lib/function/easy.cookie.js"></script>
<script type="text/javascript" src="../../lib/function/easy.config.js"></script>
<script type="text/javascript" src="../../lib/function/easy.ajax.js"></script>
<script type="text/javascript" src="../../lib/function/weixin.js"></script>
<script type="text/javascript" src="../../js/common/navBar.js"></script>
<script type="text/javascript" src="../../js/partener/abnormal.js"></script>
</body>
</html>

