<!DOCTYPE html>
<html>

	<head>
		<title>选择个人签章</title>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="Keywords" content="合同物流管理平台运输管理平台">
		<meta name="Description" content="合同物流管理平台运输管理平台">
		<link rel="stylesheet" href="../../lib/font-awesome-fa/font-awesome.min.css" media="screen">
		<link rel="stylesheet" type="text/css" href="../../lib/weui/css/weui.min.css">
		<link rel="stylesheet" type="text/css" href="../../lib/weui/css/jquery-weui.min.css">
		<link rel="stylesheet" type="text/css" href="../../lib/css/animate.min.css">
		<link rel="stylesheet" type="text/css" href="../../lib/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../../css/partener/choosePersonSignature.css" />

	</head>

	<body ontouchstart style="background:#FFFFFF;">
		<div class="chooseStyle">
			<p>请选择您要使用的签章样式</p>
			<div class="personSignature">
				<table class="personSignatureTable">
					<tr>
						<td>
							<div onclick="choosePersonSignature(0);">
								<div>
									<img class="personSignatureFontPic" id="personSignatureFontPic0" src="../../images/regular_gray.png" />
								</div>
								<div class="personSignatureFontName">楷体</div>
							</div>
						</td>
						<td width="10px"></td>
						<td>
							<div onclick="choosePersonSignature(1);">
								<div>
									<img class="personSignatureFontPic" id="personSignatureFontPic1" src="../../images/songtypeface_gray.png" />
								</div>
								<div class="personSignatureFontName">宋体</div>
							</div>
						</td>
						<td width="10px"></td>
						<td>
							<div onclick="choosePersonSignature(2);">
								<div>
									<img class="personSignatureFontPic" id="personSignatureFontPic2" src="../../images/microsoftyahei_gray.png" />
								</div>
								<div class="personSignatureFontName">微软雅黑</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<!--<p style="margin-top: 50px;">签章样式预览</p>
			<div class="showSignature">
				<img id="picShow" src="../../images/personSignaturePic.png" />
			</div>-->
		</div>
		<div class='demos-content-padded' style="margin-top:50px;">
			<a href="javascript:;" id="showTooltips" class="weui-btn weui-btn_primary">提交</a>
		</div>

		<script type="text/javascript" src="../../lib/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="../../lib/js/json2.js"></script>
		<script type="text/javascript" src="../../lib/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="../../lib/weui/js/jquery-weui.min.js"></script>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
		<script type="text/javascript" src="../../lib/js/jsrender-min.js"></script>
		<script type="text/javascript" src="../../lib/function/common.js"></script>
		<script type="text/javascript" src="../../lib/function/easy.cookie.js"></script>
		<script type="text/javascript" src="../../lib/function/easy.config.js"></script>
		<script type="text/javascript" src="../../lib/function/easy.ajax.js"></script>
		<script type="text/javascript" src="../../lib/function/weixin.js"></script>
		<script type="text/javascript" src="../../js/common/navBar.js"></script>
		<script type="text/javascript" src="../../js/partener/choosePersonSignature.js"></script>
	</body>

</html>