<!DOCTYPE html>
<html>
<head>
	<title>我的项目组</title>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="Keywords" content="合同物流管理平台运输管理平台">
	<meta name="Description" content="合同物流管理平台运输管理平台">
	<link rel="stylesheet" href="../../lib/font-awesome-fa/font-awesome.min.css"  media="screen">
	<link rel="stylesheet" type="text/css" href="../../lib/weui/css/weui.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/weui/css/jquery-weui.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../css/partener/myProjectTeam.css" />

</head>

<body ontouchstart style="background:#fafafa;">
    <div class="mr_part2 weui-panel">
    	<div class="weui-panel__hd clearfix">
    		<p class="fl">我的项目组</p>
    		<p class="fr">二维码(剩余/全部)</p>
    	</div>
    	<div class="weui-cells" id="myTeamListCon">
    		<!--循环从这开始--><!--循环在这结束-->
	    </div>
    </div>
    
	<div class='demos-content-padded hide' style="margin-bottom:120px;">
		<a href="./addProjectTeam.html" class="weui-btn weui-btn_primary">添加项目组</a>
	</div>
	
	<div class="successTips" id="successTips">
	  <img src="../../images/project-success.png" alt="" />
	  <p>成功加入项目组</p>
	</div>
	
	<!--底部导航-->
    <div id="navBarIn"></div>

<script type="text/javascript" src="../../lib/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../lib/js/json2.js"></script>
<script type="text/javascript" src="../../lib/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../lib/weui/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../lib/js/jsrender-min.js"></script>
<script type="text/x-jsrender" id="myTeamList">
    <a class="weui-cell weui-cell_access" href="./projectTeamDetail.html?groupId={{:id}}">
		<div class="weui-cell__bd">
		  <p>{{:groupName}}</p>
		</div>
		<div class="weui-cell__ft"><span>{{:number}}</span>/<span>{{:totalNum}}</span></div>
	</a>
</script>
<script type="text/javascript" src="../../lib/function/common.js"></script>
<script type="text/javascript" src="../../lib/function/easy.cookie.js"></script>
<script type="text/javascript" src="../../lib/function/easy.config.js"></script>

<script type="text/javascript" src="../../lib/function/easy.ajax.js"></script>
<script type="text/javascript" src="../../lib/function/weixin.js"></script>
<script type="text/javascript" src="../../js/common/navBar.js"></script>
<script type="text/javascript" src="../../lib/layer/layer.js"></script>
<script type="text/javascript" src="../../js/partener/myProjectTeam.js"></script>
</body>
</html>