<!DOCTYPE html>
<html>
<head>
	<title>选择成员角色</title>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="Keywords" content="合同物流管理平台运输管理平台">
	<meta name="Description" content="合同物流管理平台运输管理平台">
	<link rel="stylesheet" href="../../lib/font-awesome-fa/font-awesome.min.css"  media="screen">
	<link rel="stylesheet" type="text/css" href="../../lib/weui/css/weui.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/weui/css/jquery-weui.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../css/partener/projectTeamDetail.css" />

</head>

<body ontouchstart style="background:#fafafa;">
	<div class="weui-cells pl_part2 no-b-t" style="margin-top: 0px;" >
		<div class="weui-cells weui-cells_checkbox" id="roleListCon" style="margin-top: 0px;">
			<!--列表循环-->	
		</div>
	</div>
	<div class="weui-btn-area">
		<a id="formSubmitBtn" href="javascript:;" class="weui-btn weui-btn_primary">提交</a>
	</div>
	<!--底部导航-->
    <div id="navBarIn"></div>
	<input type="hidden" id="roleIdTxt" readonly="readonly" />
<script type="text/javascript" src="../../lib/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../lib/js/json2.js"></script>
<script type="text/javascript" src="../../lib/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../lib/weui/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../lib/js/jsrender-min.js"></script>
<script type="text/x-jsrender" id="roleList">
	<div class="weui-cell weui-check__label roleItemCon">
		<div class="weui-cell__bd radio-style" data-id="{{:role.id}}">
			<input type="radio" name="roleid" class="weui-check checkRadio" value=""/>
            <span class="weui-icon-checked"></span>  
			{{:role.roleName}}
		</div>
		<div class="weui-cell__ft roleItem">
			<font size="2px;">查看权限   <span class="sel-tag">＞</span></font>
		</div>
	</div>

	<div class="weui-cell weui-check__label rolePower hide">
		<div class="weui-cell__bd">
		           包含权限：
		    {{for permissionList}}
		    	<font color='#31aafb'>{{:permissionName}}</font>
	        {{/for}} 
		</div>
	</div>
</script>
<script type="text/javascript" src="../../lib/function/common.js"></script>
<script type="text/javascript" src="../../lib/function/easy.cookie.js"></script>
<script type="text/javascript" src="../../lib/function/easy.config.js"></script>
<script type="text/javascript" src="../../lib/function/easy.ajax.js"></script>
<script type="text/javascript" src="../../lib/function/weixin.js"></script>
<script type="text/javascript" src="../../js/common/navBar.js"></script>
<script type="text/javascript" src="../../js/partener/projectTeamMemberRole.js"></script>
</body>
</html>
