<!DOCTYPE html>
<html>  
<head>  
    <title>DeviceOrientationEvent</title>  
    <meta charset="UTF-8" />  
  <!--  <meta name="viewport"  content="width=device-width,nitial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0, user-scalable=no">  -->
 <script type="text/javascript" src="../../lib/js/jquery-2.1.4.min.js"></script>
</head>  
<body>  
    <div id="arrow"></div>  
</body>  
</html>  
<script>  
    try {  
        var text = "";  
        window.addEventListener("deviceorientation", orientationHandler, false);  
        function orientationHandler(event) {  
            text = ""  
            var arrow = document.getElementById("arrow");  
            text += "左右旋转：rotate alpha{" + Math.round(event.alpha) + "deg)<p>";  
            text += "前后旋转：rotate beta{" + Math.round(event.beta) + "deg)<p>";  
            text += "扭转设备：rotate gamma{" + Math.round(event.gamma) + "deg)<p>";  
            text += "指北针指向：rotate heading{" + (event.webkitCompassHeading) + "度)<p>";  
             text += "指北针精度：rotate accuracy{" + (event.webkitCompassAccuracy) + "度)<p>";  
            arrow.innerHTML = text;  
        }  
    }  
    catch (e) {  
        $("#arrow").html(e.message)  
    }  
</script>  
