  <!DOCTYPE html>
<html>
<head>
	<title>上传绑码图片</title>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="Keywords" content="合同物流管理平台运输管理平台">
	<meta name="Description" content="合同物流管理平台运输管理平台">
	<link rel="stylesheet" href="../../lib/font-awesome-fa/font-awesome.min.css"  media="screen">
	<link rel="stylesheet" type="text/css" href="../../lib/weui/css/weui.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/weui/css/jquery-weui.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../css/partener/uploadCodePhoto.css" />
</head>

<body ontouchstart style="background:#fafafa;">
<div class="topImg borderBottom"><img src="../../images/kawayi.png" alt="" /></div>

<div class="weui-cells weui-cells_form upload">
	<div class="weui-cell">
		<div class="weui-cell__bd">
			<div class="weui-uploader">				
				<div class="weui-uploader__bd txtCenter">
					<ul class="weui-uploader__files clearfix" id="uploaderFiles">
						<!--<li class="weui-uploader__file">
							<img src="../../images/timg2.png" alt="" />
							<span class="close-img"></span>
						</li>-->
					</ul>
					<div class="weui-uploader__input-box uploadBtn" id="uploaderRecipt"></div>
					<!--<div class="chooseImg" id="uploaderRecipt">
	                	<img src="../../images/eg_photo.jpg">
	                </div>-->
				</div>
				<div class="weui-uploader__ft">
          <p class="weui-uploader__title upload-tip-text" style="text-align: center;">上传绑码图片</p>
      </div>
			</div>
		</div>
	</div>
</div>
<!--<div class="imgTips">
  <p>1、请贴好二维码之后按照示例图样式上传回单图片</p>
  <p>2、要求字体清晰可见，照片端正居中</p>
</div>-->

<!--提示信息开始-->
<div class="img_tips">
  <div class="tip-part">
    <img src="../../images/example.png" alt="" />
    <p>1.请贴好二维码之后按照示例图样式上传回单图片<br />2.要求字体清晰可见，照片端正居中</p>
  </div> 
  <a href="javascript:;" class="imgTipsBtn">已明白图片要求，上传图片</a>
</div>
<!--提示信息结束-->

<div class='demos-content-padded'>
	<a href="javascript:;" id="uploadConfirm" class="weui-btn weui-btn_primary gridentBtn">确定上传</a>
</div>

<!--img放大-->
<div class="weui-gallery" id="gallery">
  <img src="" id="galleryImg" />
</div>

<!--底部导航-->
<div id="navBarIn"></div>

<script type="text/javascript" src="../../lib/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../lib/js/json2.js"></script>
<script type="text/javascript" src="../../lib/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../lib/weui/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../lib/js/jsrender-min.js"></script>

<script type="text/javascript" src="../../lib/function/common.js"></script>
<script type="text/javascript" src="../../lib/function/easy.cookie.js"></script>
<script type="text/javascript" src="../../lib/function/easy.config.js"></script>
<script type="text/javascript" src="../../lib/function/easy.ajax.js"></script>
<script type="text/javascript" src="../../lib/function/weixin.js"></script>
<script type="text/javascript" src="../../js/common/navBar.js"></script>
<script type="text/javascript" src="../../js/partener/uploadCodePhoto.js"></script>
<script src="../../lib/weui/js/fastclick.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>
</body>
</html>