<!DOCTYPE html>
<html>

	<head>
		<title>上传回单</title>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="Keywords" content="合同物流管理平台运输管理平台">
		<meta name="Description" content="合同物流管理平台运输管理平台">
		<link rel="stylesheet" href="../../lib/font-awesome-fa/font-awesome.min.css" media="screen">
		<link rel="stylesheet" type="text/css" href="../../lib/weui/css/weui.min.css">
		<link rel="stylesheet" type="text/css" href="../../lib/weui/css/jquery-weui.min.css">
		<link rel="stylesheet" type="text/css" href="../../lib/css/animate.min.css">
		<link rel="stylesheet" type="text/css" href="../../lib/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../../css/driver/uploadReceipt.css" />
		<style>
			[v-cloak] {
				display: none !important;
			}
		</style>
	</head>

	<body ontouchstart class="vue-page" style="background:#FFFFFF;">
		<div class="upload-task" id="uploadReceiptWrapper">
			<div class="upload-task-title clearfix" id="upload-task-title" style="display: none;">
				<span class="up-task-icon" id="up-task-icon" @click="uploadScanCode">扫码识别</span>
				<a class="up-task-check" href="javascript:;" id="toSearchList" @click="chooseList">列表选择</a>
			</div>
			<!--选中回单后内容展示部分，用 hide 隐藏了，去掉hide即可-->
			<div id="show-task-list" class="showTaskList hide">
				<span class="upload-task-close fa fa-close hide" id="uploadTaskClose" @click="reselection"></span>
				<div class="upload-task-content" id="uploadTaskContent">
					<div class="weui-flex" id="chooseId" :uid="result.id">
						<div class="task-con-title">货主名称 :</div>
						<div class="weui-flex__item one-line-hide">{{shipper.companyName}}</div>
					</div>
					<div class="weui-flex">
						<div class="task-con-title">送货单号 :</div>
						<div class="weui-flex__item one-line-hide">{{result.deliveryNo}}</div>
					</div>
					<div class="weui-flex">
						<div class="task-con-title">收货联系人 :</div>
						<div class="weui-flex__item one-line-hide">{{result.receiverName}}&nbsp;&nbsp;&nbsp;&nbsp;{{result.receiverContact}}</div>
					</div>
					<div class="weui-flex">
						<div class="task-con-title">收货地址 :</div>
						<div class="weui-flex__item more-line-hide">{{result.receiveAddress}}</div>
					</div>
				</div>
			</div>

			<!--提示信息开始-->
			<div class="img_tips">
				<div class="tip-part">
					<img src="../../images/example.png" alt="" />
					<p>回单要求字体清晰可见，照片端正居中</p>
				</div>
				<a href="javascript:;" class="imgTipsBtn" @click="understandRequirement">已明白图片要求，上传图片</a>
			</div>
			<!--提示信息结束-->

			<div class="weui-cells weui-cells_form upload">
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<div class="weui-uploader">
							<!--				<div class="weui-uploader__hd">
					<p class="weui-uploader__title">上传回单照片</p>
				</div>-->
							<div class="weui-uploader__bd txtCenter remove-hook">
								<ul class="weui-uploader__files upImage-hook" id="uploaderFiles">
									<!--<li class="weui-uploader__file">
							<img src="../../images/timg2.png" alt="" />
							<span class="close-img"></span>
						</li>-->
								</ul>
								<div class="weui-uploader__input-box uploadBtn" id="uploaderRecipt" @click="addImage"></div>

							</div>
						</div>
					</div>
				</div>
				<p class="weui-uploader__title upload-tip-text" style="text-align: center;padding-bottom: 12px;">上传回单照片</p>
			</div>
			<div class='demos-content-padded'>
				<a href="javascript:;" id="uploadTooltips" class="weui-btn weui-btn_primary gridentBtn" @click="upload">确定上传</a>
			</div>
		</div>
		<!--img放大-->
		<div class="weui-gallery" id="gallery">
			<img src="" id="galleryImg" />
		</div>

		<script type="text/javascript" src="../../lib/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="../../lib/js/json2.js"></script>
		<script type="text/javascript" src="../../lib/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="../../lib/weui/js/jquery-weui.min.js"></script>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
		<script type="text/javascript" src="../../lib/vue/vue.js"></script>
		<script type="text/javascript" src="../../lib/function/common.js"></script>
		<script type="text/javascript" src="../../lib/function/easy.cookie.js"></script>
		<script type="text/javascript" src="../../lib/function/easy.config.js"></script>
		<script type="text/javascript" src="../../lib/function/easy.ajax.js"></script>
		<script type="text/javascript" src="../../lib/function/weixin.js"></script>
		<script type="text/javascript" src="../../js/driver/uploadReceipt.js"></script>
	</body>

</html>