/*===月统计===*/
body{
	padding:10px 10px 0;
	font-size:14px;
}
.col-min{width:10%;}
.col-xs-min{width:3%;min-width: 40px;}
.col-middle{width:21%;}
.col-max{width:34%;}
.body-content{
	height:100%;
	background:#fff;
	padding:0 15px;
}
/*===查询部分===*/
.content-search{
    position:relative;
    padding:16px 0 20px;
}
.content-search a{
	text-decoration:none;
}
.content-search .content-search-btn{
    display: inline-block;
    padding:0 20px;
    margin-top:-1px;
    min-width: 70px;
    line-height: 28px;
    color:#fff;
    border-radius: 3px;
    background:#31acfa;
}
.content-search>.clearfix>.fl{position:relative;}
.content-search .labe_l{
    display:inline-block;
    color:#333;
    font-size:14px;
    width:68px; 
    height:26px;
    line-height:26px;
    font-weight: 400;
}
.content-search .tex_t{
    position:absolute;
    top:0;
    left:68px;
    width:140px;
    height:26px;
    border:1px solid #dedede;
    text-indent:4px;
    border-radius:4px;
}
.content-search .fl+.fl{margin-left:2%;}
.content-search .clearfix+.clearfix {
    margin-top: 15px;
}
.content-search input[type="text"]:focus{
    border-color:#6ec5fb;
}

/*===图标部分===*/
.echart-box{
	width:80%;
	margin: 0 auto;
	/* border:1px solid #000; */
}





