<!DOCTYPE html>
<html>
	<html>

	<head>
		<meta charset="utf-8" />
		<script src="../../../static/lib/function/common.js"></script>
		<script src="../../../static/js/public/commonMeta.js"></script>
		<title>物料信息配置</title>
		<script src="../../../static/js/public/commonCss.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../static/css/contractValuation/materialInfoConfig/materialConfig.css" />
	</head>

	<body>
		<div id="content">
			<template>
				<div class="search">
					<el-form ref="form" :model="form" label-width="100px">
						<el-input prefix-icon="el-icon-search" clearable v-model="form.searchText" placeholder="物料编号/物料名称"></el-input>
						<el-button type="primary" @click='search'>查询</el-button>
					</el-form>
				</div>
				<div class="operateBtn">
					<el-button type="primary" @click='importFile()'>导入</el-button>
				</div>
				<div class="table">
					<template>
						<el-table :data="list" border style="width: 100%">
							<el-table-column fixed prop="commodityCode" label="物料编号" align='center'>
							</el-table-column>
							<el-table-column prop="commodityName" label="物料名称" align='center'>
							</el-table-column>
							<el-table-column prop="unitVolume" label="单位体积" align='center'>
							</el-table-column>
							<el-table-column prop="unitWeight" label="单位重量" align='center'>
							</el-table-column>
							<el-table-column fixed="right" label="计价方式" width="250" align='center'>
								<template slot-scope="scope">
									<span v-if="scope.row.fareType == 0">零担-按重量核算运费</span>
									<span v-else-if="scope.row.fareType == 1">零担-按体积核算运费</span>
									<span v-else-if="scope.row.fareType == 2">零担-按数量核算运费</span>
									<span v-else-if="scope.row.fareType == 3">整车</span>
								</template>
							</el-table-column>
						</el-table>
					</template>
				</div>
				<!-- 上传导入 -->
				<el-dialog title="上传文件导入" :visible.sync="dialog.import" :close-on-click-modal="false" :close-on-press-escape="false" width="40%">
					<el-row>
						<el-col>
							<el-button type="text" @click="downloadTemplate">下载模板</el-button>
						</el-col>
					</el-row>
					<el-row>
						<el-col :span="24">
							<el-upload drag :action="uploadUrl" accept=".xlsx,.xls" :data="fileData" :headers="header" style="margin-bottom: 10px;" :on-error="importFile" :on-success="importFile" ref="upload" :auto-upload='false'>
								<i class="el-icon-upload"></i>
								<div class="el-upload__text">将文件拖到此处,或<em>点击上传</em></div>
								<div class="el-upload__tip" slot="tip">只能上传xlsx/xls文件,请确保文件格式的正确性</div>
							</el-upload>
							<el-button class="btnUpload" size="small" @click="submitUpload">上传</el-button>
						</el-col>
					</el-row>
				</el-dialog>
				<!-- 分页  -->
				<div class="pagination">
					<el-pagination background layout="total,prev, pager, next" :total="total" @current-change="currentChange">
					</el-pagination>
				</div>
			</template>
		</div>

	</body>

	<script src="../../../static/js/public/commonJs.js"></script>
	<script src="../../../static/js/contractValuation/materialInfoConfig/materialConfig.js"></script>

	</html>