.weui-btn_primary {
	border-radius: 5px;
	background: #169BD5;
}
.EmployeeName {
	 border-bottom: 1px solid #ccc;
}
input {
	width: 100%;
	height: 45px;
	padding-left: 20px;
	font-size: 16px;
}
.weui-btn_primary:not(.weui-btn_disabled):active {
	background-color:#169BD5 ;
	color: #fff;
}
#app {
	margin-top: 8px;;
}

