<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycg.ksh.service.persistence.PaperReceiptMapper">
    <resultMap id="BaseResultMap" type="com.ycg.ksh.entity.persistent.PaperReceipt">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="ORDER_KEY" jdbcType="BIGINT" property="orderKey"/>
        <result column="USER_ID" jdbcType="INTEGER" property="userId"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="RECEIPT_COUNT" jdbcType="INTEGER" property="receiptCount"/>
    </resultMap>

</mapper>