<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycg.ksh.service.persistence.activity.LotteryNoteMapper">
  <resultMap id="BaseResultMap" type="com.ycg.ksh.entity.persistent.activity.LotteryNote">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="NOTE_ID" jdbcType="VARCHAR" property="noteId" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="LOTTERY_TYPE" jdbcType="INTEGER" property="lotteryType" />
    <result column="OBJECT_KEY" jdbcType="VARCHAR" property="objectKey" />
    <result column="AWARD_TYPE" jdbcType="INTEGER" property="awardType" />
    <result column="AWARD_VALUE" jdbcType="BIGINT" property="awardValue" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
</mapper>