<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycg.ksh.service.persistence.driver.OrderDeliverMapper">
    <resultMap id="BaseResultMap" type="com.ycg.ksh.entity.persistent.driver.OrderDeliver">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="ID" jdbcType="BIGINT" property="id"/>
        <result column="ORDER_KEY" jdbcType="BIGINT" property="orderKey"/>
        <result column="USER_KEY" jdbcType="INTEGER" property="userKey"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <resultMap id="OrderResultMap" type="com.ycg.ksh.entity.persistent.Order">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="BIND_CODE" jdbcType="VARCHAR" property="bindCode"/>
        <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo"/>
        <result column="DELIVERY_NO" jdbcType="VARCHAR" property="deliveryNo"/>
        <result column="SHIPPER_ID" jdbcType="BIGINT" property="shipperId"/>
        <result column="RECEIVE_ID" jdbcType="BIGINT" property="receiveId"/>
        <result column="CLIENT_TYPE" jdbcType="INTEGER" property="clientType"/>
        <result column="CONVEY_ID" jdbcType="BIGINT" property="conveyId"/>
        <result column="RECEIVER_NAME" jdbcType="VARCHAR" property="receiverName"/>
        <result column="RECEIVER_CONTACT" jdbcType="VARCHAR" property="receiverContact"/>
        <result column="RECEIVE_ADDRESS" jdbcType="VARCHAR" property="receiveAddress"/>
        <result column="LOCATION" jdbcType="VARCHAR" property="location"/>
        <result column="FETTLE" jdbcType="INTEGER" property="fettle"/>
        <result column="SIGN_FETTLE" jdbcType="INTEGER" property="signFettle"/>
        <result column="DELIVERY_TIME" jdbcType="TIMESTAMP" property="deliveryTime"/>
        <result column="RECEIVE_TIME" jdbcType="TIMESTAMP" property="receiveTime"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="CREATE_USER_ID" jdbcType="INTEGER" property="createUserId"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="IS_RECEIPT" jdbcType="INTEGER" property="isReceipt"/>
        <result column="INSERT_TYPE" jdbcType="INTEGER" property="insertType"/>
    </resultMap>


    <select id="pageOrderDeliver" parameterType="com.ycg.ksh.entity.service.enterprise.OrderSearch"
            resultMap="OrderResultMap">
        select b.* from T_ORDER_DELIVER a LEFT JOIN T_ORDER b ON a.ORDER_KEY = b.ID
        <where>
            a.USER_KEY = #{userKey}
            <if test="fettles != null">
                AND b.FETTLE IN
                <foreach collection="fettles" item="fettle" separator="," open="(" close=")">
                    #{fettle}
                </foreach>
            </if>
            <if test="companyKeys !=null">
                AND b.SHIPPER_ID IN
                <foreach collection="companyKeys" item="cKey" separator="," open="(" close=")">
                    #{cKey}
                </foreach>
            </if>
            <if test="(likeString !=null and likeString != '') and companyKeys == null">
                AND (LOCATE(#{likeString}, b.DELIVERY_NO) > 0)
            </if>
        </where>
    </select>


</mapper>